<?xml version="1.0" encoding="UTF-8"?>

<plugin 
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.wuips.alarm"
    version="0.0.1">

    <name>AlarmPlugin</name>

	<js-module src="www/AlarmPlugin.js" name="AlarmPlugin">
        <clobbers target="AlarmPlugin" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- android -->
	<platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AlarmPlugin" >
                <param name="android-package" value="org.wuips.alarm.AlarmPlugin"/>
            </feature>
        </config-file>

		<source-file src="src/android/org/wuips/alarm/AlarmPlugin.java" target-dir="src/org/wuips/alarm" />

	</platform>

</plugin>
